.main-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .main-content {
    z-index: 1;
    text-align: center;
    transition: transform 300ms ease 0s;
    &:hover {
      transform: scale(0.95);
      transition: transform 300ms ease 0s;
    }
    .title {
      font-weight: 900;
      font-size: 4.5rem;
      .hand {
        @media (prefers-reduced-motion: no-preference) {
          animation: hand-animation 2.667s infinite;
        }
        transform-origin: 70% 70%;
        display: inline-block;
      }
    }
    .social-container {
      margin-top: 25px;
      .discord {
        margin: 0 7.5px;
        > svg {
          transition: color 300ms;
          width: 32px;
          height: 32px;
          &:hover {
            cursor: pointer;
            color: #7289DA;
            transition: color 300ms;
          }
        }
      }
    }
  }
}

@keyframes hand-animation {
  0% {
    transform: rotate(0deg)
  }
  10% {
    transform: rotate(14deg)
  }
  20% {
    transform: rotate(-8deg)
  }
  30% {
    transform: rotate(14deg)
  }
  40% {
    transform: rotate(-4deg)
  }
  50% {
    transform: rotate(10deg)
  }
  60% {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(0deg)
  }
}